#podium, html, body
{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#podium
{
  background-color: #A1A0B0;
  background: linear-gradient(to bottom right, #A1A0B0, #2C2C50);
}

#second, #first, #third
{
  position: absolute;
  top: 0;
  height: 100%;
  width: 30%;
  -webkit-transform: skew(-20deg);
  -moz-transform: skew(-20deg);
  -o-transform: skew(-20deg);
}

#second
{
  left: 0;

  border-left: 1px solid white;
}

#first
{
  left: 30%;

  border-left: 1px solid white;
}


#third
{
  left: 60%;

  border-left: 1px solid white;
  border-right: 1px solid white;
}

.character_big
{
  position: relative;
  top: 25vh;
  max-height: 50vh;
  -webkit-transform: skew(20deg);
  -moz-transform: skew(20deg);
  -o-transform: skew(20deg);
}

.podium_content
{
  -webkit-transform: skew(20deg);
  -moz-transform: skew(20deg);
  -o-transform: skew(20deg);
  color: white; 
}
